body {
    font-family: 'Montserrat';
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    color: #8F8F8F;
}

/* Headings */

.main-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid {
    padding: 7% 15% 6%;
}

/* Sections */

.colored-section {
    background-color: #FF4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navbar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
    font-weight: 300;
}

/* Title-Section */

#title {
    text-align: left;
}

#title .container-fluid{
    padding: 3% 15% 7%;
}

.title-img-parent {
    position: relative;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* download-buttons */

.download-btn {
    margin: 5% 1.5% 6.5%;
}

/* Features */

#features {
    position: relative;
}

.feature-box {
    padding: 4.5%;
}

.feature-icon {
    font-size: 4rem; 
    color: #EF8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #FF4c68;
}

.feature-title {
    font-size: 1.5rem;
}

/* Testimonials */

#testimonials {
    background-color: #EF8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

/* Press */

#press {
    background-color: #EF8172;
    padding: 2% 8% 4%;
}

#press > .row {
    gap: 1.5em;
    align-items: center;
}

.press-logo {
    max-width: 225px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.card-title {
    font-size: 1.5rem;
}

.pricing-col {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Footer */

.footer-icon {
    margin: 1rem 1rem;
    color: #212529;
    text-decoration: none;
}

@media (max-width: 1268px)
{
    #title {
        text-align: center;
    }

    .title-img-parent {
        align-self: center;
    }

    .title-img {
        width: 250px;
        position: static;
        transform: rotate(0);
    }
}

@media (max-width: 650px)
{
    .navbar-brand {
        font-size: 2rem;
    }

    .navbar {
        padding-bottom: 3rem;;
    }
    
    .main-heading {
        font-size: 3rem;
    }

    .title-img {
        width: 200px;
    }

    .testimonial-text, .price-text, .section-heading {
        font-size: 2.5rem;
    }

    .press-logo {
        max-width: 175px;
    }
}

@media (max-width: 500px)
{
    

    #title .container-fluid {
        padding: 7% 8% 6%;
    }

    #pricing {
        padding: 100px 25px;
    }

    .testimonial-text {
        font-size: 2rem;
    }

    .press-logo {
        max-width: 125px;
    }

}

@media (max-width: 350px)
{
    .navbar-brand {
        font-size: 1.7rem;
    }
    
    #title .row > * {
        padding: 0;
    }
    
    #title .col {
        padding: 0;
    }

    .title-img {
        width: 175px;
    }
    
    .press-logo {
        max-width: 110px;
    }
}